<div class="product-feature">
  <h2 class="title">Đặc điểm nổi bật</h2>
  <div class="row list-feature">
    <div class="col-6 item-feature">
      <div class="label">PHOM SLIMFIT</div>
      <div class="desc">Gọn gàng, tôn dáng người mặc</div>
    </div>
    <div class="col-6 item-feature">
      <div class="label">CÔNG NGHỆ AIR-COOL Poly Tech</div>
      <div class="desc">Nhẹ, mát, thoáng khí thoải mái vận động</div>
    </div>
    <div class="col-6 item-feature">
      <div class="label">ĐỘ BỀN CAO, HẠN CHẾ NHĂN</div>
      <div class="desc">Ưu điểm của sợi Poly cao cấp</div>
    </div>
    <div class="col-6 item-feature">
      <div class="label">THIẾT KẾ CAN CẮT PHỐI IN CẦU VAI</div>
      <div class="desc">Khỏe khoắn, năng động, thể thao</div>
    </div>
  </div>
</div>
