<div class="product-action">
  <div class="product-qty">
    <div class="qty-wrapper">
      <div class="button-minus">-</div>
      <div class="value-qty">1</div>
      <div class="button-plus">+</div>
    </div>
  </div>
  <div class="product-add-to-cart in-stock" style="display: block">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M11.386 15.1257H5.12514C2.82537 15.1257 1.06107 14.295 1.56221 10.9518L2.14573 6.42089C2.45466 4.7527 3.51873 4.11426 4.45237 4.11426H12.0862C13.0336 4.11426 14.0359 4.80076 14.3929 6.42089L14.9764 10.9518C15.402 13.9175 13.6858 15.1257 11.386 15.1257Z"
        stroke="white"
        stroke-width="1.125"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M11.4865 3.94929C11.4865 2.15973 10.0357 0.709014 8.24619 0.709014V0.709014C7.38444 0.705362 6.55673 1.04513 5.94609 1.6532C5.33545 2.26127 4.99218 3.08753 4.99219 3.94929H4.99219"
        stroke="white"
        stroke-width="1.125"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M10.4737 7.32665H10.4394"
        stroke="white"
        stroke-width="1.125"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
      <path
        d="M6.09869 7.32665H6.06437"
        stroke="white"
        stroke-width="1.125"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
    <span>Thêm vào giỏ <span>hàng</span></span>
  </div>
  <div class="product-add-to-cart out_stock" style="display: none">
    <span>Hết hàng</span>
  </div>
  <div class="buy-now" style="display: block">MUA NGAY</div>
</div>
