.product-action {
  display: flex;
  gap: 0 10px;
  margin-bottom: 30px;
  .product-qty {
    .qty-wrapper {
      border: 1px solid #0f0f0f;
      border-radius: 8px;
      color: #0f0f0f;
      display: flex;
      height: 48px;
      line-height: 46px;
      text-align: center;
      .button-minus {
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        width: 30px;
      }
      .value-qty {
        font-size: 18px;
        width: 40px;
      }
      .button-plus {
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        width: 30px;
      }
    }
  }
  .product-add-to-cart {
    background: #ba0e15;
    border-radius: 8px;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 45%;
    svg {
      position: relative;
      top: -2px;
    }
    span {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
    }
    &.out_stock {
      background-color: #d9d9d9;
      cursor: not-allowed;
      span {
        color: #9f9f9f;
      }
    }
  }
  .buy-now {
    border: 2px solid #bf272d;
    border-radius: 8px;
    color: #bf272d;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 44px;
    text-align: center;
    width: 45%;
  }
}
