<div class="news-block">
  <div class="container">
    <div class="news-title">
      <div class="title">Tin tức 5S Fashion</div>
      <a href="" class="view-all d-none d-md-block">Xem tất cả</a>
    </div>
    <div class="news-content">
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="item-news">
            <a href="">
              <div class="feature-news">
                <img
                  src="https://1557691689.e.cdneverest.net/fast/731x0/filters:format(webp)/static.5sfashion.vn/storage/update/images/posts/9jntRsouplnhpynFVEnRASK8ZeoSWFb5.jpg"
                  alt=""
                />
              </div>
              <div class="title-news">5S FASHION – Tự Hào Vì Có Bạn Trong Chặng Đường 6 Năm</div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="item-news">
            <a href="">
              <div class="feature-news">
                <img
                  src="https://1557691689.e.cdneverest.net/fast/731x0/filters:format(webp)/static.5sfashion.vn/storage/update/images/posts/J4MU0Lgjz53osNO75qd6MKWV0XTzotUa.jpg"
                  alt="Khách hàng nói gì về 5S Fashion?"
                />
              </div>
              <div class="title-news">Khách hàng nói gì về 5S Fashion?</div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="item-news">
            <a href="">
              <div class="feature-news">
                <img
                  src="https://1557691689.e.cdneverest.net/fast/731x0/filters:format(webp)/static.5sfashion.vn/storage/update/images/posts/m1yGkmr3hxCWsCUaunx5IrT0W0aUJmHu.jpg"
                  alt=""
                />
              </div>
              <div class="title-news">
                Tổng hợp 6 mẫu áo tự hào dân tộc cho ngày 2/9 của 5S Fashion
              </div>
            </a>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <div class="item-news">
            <a href="">
              <div class="feature-news">
                <img
                  src="https://1557691689.e.cdneverest.net/fast/731x0/filters:format(webp)/static.5sfashion.vn/storage/update/images/posts/utn6opr4HkCrmtVx0Rmpq3Vi0FvmneWq.jpg"
                  alt=""
                />
              </div>
              <div class="title-news">5S Fashion - Cập nhật địa chỉ mới sau sáp nhập</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="" class="view-all d-md-none">Xem tất cả</a>
  </div>
</div>
