<div class="main-detail">
  <div class="product-detail-body">
    <div class="container">
      <div class="breadcrumb-block">
        <div class="br-item">
          <div routerLink="/home">Trang chủ</div>
        </div>
        <div class="br-icon">/</div>
        <div class="br-item">
          <div routerLink="/category/id">Áo Polo</div>
        </div>
        <div class="br-icon">/</div>
        <div class="br-item-last">
          Áo Polo Nam AIR-COOL 5S Fashion Phong Cách Thể Thao Khỏe Khoắn M0APC26035
        </div>
      </div>
      <div class="product-main">
        <div class="row">
          <div class="col-12 col-md-7">
            <div class="product-image">
              <div class="product-image-main">
                <div class="slider-main">
                  <div class="swiper-wrapper">
                    <div
                      class="item-image"
                      style="
                        width: 589px;
                        opacity: 1;
                        transform: translate3d(0px, 0px, 0px);
                        transition-duration: 0ms;
                      "
                    >
                      <div class="image">
                        <img
                          src="https://1557691689.e.cdneverest.net/fast/1325x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/ANmfIW013xln8ECUAxU5kWgaxLnaNHVJ.webp"
                          alt="Áo Polo Nam AIR-COOL 5S Fashion"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="label-product discount" style="display: block">29%</div>
              </div>
              <div class="product-image-thumb">
                <div class="slider-thumb">
                  <div
                    class="swiper-wrapper"
                    style="
                      transform: translate3d(0px, 0px, 0px);
                      transition-duration: 0ms;
                      transition-delay: 0ms;
                    "
                  >
                    <div class="item-image" style="height: 80.625px; margin-bottom: 20px">
                      <img
                        src="https://1557691689.e.cdneverest.net/fast/180x0/filters:format(webp)/static.5sfashion.vn/storage/product/dJGB0v4tYg7PhDBJbvTB6QB5a00YviID.webp"
                        alt="Áo Polo Nam AIR-COOL 5S Fashion Phong Cách Thể Thao Khỏe Khoắn M0APC26035"
                        height="80"
                        width="80"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="product-detail-info">
              <product-name-layout></product-name-layout>
              <product-desc-layout></product-desc-layout>
              <product-rating-layout></product-rating-layout>
              <product-price-layout></product-price-layout>
              <product-variant-layout></product-variant-layout>
              <product-action-layout></product-action-layout>
              <product-service-layout></product-service-layout>
              <product-feature-layout></product-feature-layout>
            </div>
          </div>
          <div class="col-12">
            <product-desc-component
              [isActive]="isActive"
              (toggleActive)="handleIsActive()"
            ></product-desc-component>
            <product-star-layout></product-star-layout>

            <product-more-layout
              [isShowPopup]="isShowPopup"
              (showPopup)="showSearchProduct()"
            ></product-more-layout>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nz-modal
  [(nzVisible)]="isShowPopup"
  [nzFooter]="null"
  [nzClosable]="false"
  [nzCentered]="true"
  nzWidth="65%"
  nzClassName="search-product"
  (nzOnCancel)="handleMuzzle()"
>
  <ng-container *nzModalContent>
    <product-popup-layout (closeProductPopup)="handleMuzzle()"></product-popup-layout>
  </ng-container>
</nz-modal>
