.main-detail {
  padding-top: 98px;
  .product-detail-body {
    background: #fafafa;

    padding: 20px 0 40px;

    .breadcrumb-block {
      color: #0f0f0f;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 20px;
      margin-top: 15px;
      .br-icon {
        color: #444;
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
      }
      div {
        display: inline-block;
        font-weight: 500;
        color: #0f0f0f;
      }
    }
    .product-main {
      .product-image {
        .product-image-main {
          box-sizing: border-box;
          flex: 0 0 auto;
          max-width: 100%;
          padding: 0;
          position: relative;
          width: 100%;
          width: calc(100% - 134px);
          @media (min-width: 768px) {
            flex: 1 0 0%;
            order: 6;
          }
          .image {
            position: relative;
            img {
              height: 100%;
              left: 0;
              object-fit: cover;
              object-position: top;
              position: absolute;
              top: 0;
              width: 100%;
              max-width: 100%;
            }
            &::before {
              animation: shine-loading-image 2s ease-out infinite;
              background-image: linear-gradient(90deg, #ececec, #f4f4f4 40px, #ececec 80px);
              content: '';
              display: block;
              height: 0;
              padding-top: 133.277%;
              width: 100%;
            }
          }
          .label-product {
            position: absolute;
            z-index: 2;
            &.discount {
              background-color: #ad0000;
              border-radius: 50%;
              color: #fff;
              font-size: 22px;
              font-weight: 700;
              height: 70px;
              line-height: 70px;
              right: 35px;
              text-align: center;
              top: 15px;
              width: 70px;
            }
          }
        }
        .product-image-thumb {
          flex: 0 0 auto;
          max-width: 100%;
          overflow: hidden;
          padding: 0;
          position: relative;
          width: 100%;
          @media (min-width: 768px) {
            flex: 0 0 auto;
            margin-right: 50px;
            order: -1;
            width: 84px;
          }
          .item-image {
            border-radius: 8px;
            &.swiper-slide-thumb-active {
              img {
                border-color: #bf272d;
              }
            }
            img {
              background: #efefef;
              border: 2px solid #d9d9d9;
              border-radius: 8px;
              object-fit: contain;
              object-position: top;
              transition: 0.3s ease-in-out;
              max-width: 100%;
            }
          }
        }
      }
      .product-detail-info {
        padding-left: 35px;
      }
    }
  }
}
@media (min-width: 768px) {
  .product-image {
    display: flex;
    flex-wrap: nowrap;
  }

  .product-image .product-image-thumb .slider-thumb {
    bottom: 0;
    position: absolute;
    top: 0;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}

::ng-deep .search-product .ant-modal-content {
  width: 100% !important;
  border-radius: 8px !important
  ;
}
