.product-service {
  background: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 15px 10px;
  text-align: center;
  .row {
    align-items: flex-start;
    margin: 0 -7px;
    > div {
      padding: 0 7px;
    }
  }
  .item-service {
    .icon {
      margin-bottom: 5px;
      img {
        max-width: 100%;
      }
    }
    .title {
      color: #0f0f0f;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 5px;
    }
    .desc {
      color: #0f0f0f;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
