<div class="product-service">
  <div class="row">
    <div class="col-4">
      <div class="item-service">
        <div class="icon">
          <img
            data-src="https://1557691689.e.cdneverest.net/fast/0x0/filters:format(webp)/static.5sfashion.vn/storage/utilities/rJXtrpOJwRC1CxLRNpU3D82EknKTyA1a.png"
            src="https://1557691689.e.cdneverest.net/fast/0x0/filters:format(webp)/static.5sfashion.vn/storage/utilities/rJXtrpOJwRC1CxLRNpU3D82EknKTyA1a.png"
            alt="Miễn phí vận chuyển"
            data-ll-status="loaded"
            class="entered loaded"
          />
        </div>
        <div class="title">Miễn phí vận chuyển</div>
        <div class="desc">Freeship mọi đơn hàng từ hoá đơn 499K</div>
      </div>
    </div>
    <div class="col-4">
      <div class="item-service">
        <div class="icon">
          <img
            data-src="https://1557691689.e.cdneverest.net/fast/0x0/filters:format(webp)/static.5sfashion.vn/storage/utilities/C6fVoBmzWh5Vc9HgcUJXunPyhMiiYVUw.png"
            src="https://1557691689.e.cdneverest.net/fast/0x0/filters:format(webp)/static.5sfashion.vn/storage/utilities/C6fVoBmzWh5Vc9HgcUJXunPyhMiiYVUw.png"
            alt="Đổi trả linh hoạt"
            data-ll-status="loaded"
            class="entered loaded"
          />
        </div>
        <div class="title">Đổi trả linh hoạt</div>
        <div class="desc">Trong 15 ngày kể từ ngày nhận hàng (Trừ quần lót và tất)</div>
      </div>
    </div>
    <div class="col-4">
      <div class="item-service">
        <div class="icon">
          <img
            data-src="https://1557691689.e.cdneverest.net/fast/0x0/filters:format(webp)/static.5sfashion.vn/storage/utilities/5XBzd01sJ8pRh9SE4RItp076JZiBPi4k.png"
            src="https://1557691689.e.cdneverest.net/fast/0x0/filters:format(webp)/static.5sfashion.vn/storage/utilities/5XBzd01sJ8pRh9SE4RItp076JZiBPi4k.png"
            alt="Giao hàng nhanh"
            data-ll-status="loaded"
            class="entered loaded"
          />
        </div>
        <div class="title">Giao hàng nhanh</div>
        <div class="desc">Chỉ từ 2-5 ngày</div>
      </div>
    </div>
  </div>
</div>
