<div class="product-variant product-color-size-variant">
  <div class="variant-block variant-color">
    <div class="variant-label">
      <div class="title">Tím than đậm</div>
    </div>
    <ul class="variant-list">
      <li class="detail-variant-item current">
        <img
          src="https://1557691689.e.cdneverest.net/fast/69x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/ANmfIW013xln8ECUAxU5kWgaxLnaNHVJ.webp"
          alt=""
        />
      </li>
      <li class="detail-variant-item">
        <img
          src="https://1557691689.e.cdneverest.net/fast/69x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/ANmfIW013xln8ECUAxU5kWgaxLnaNHVJ.webp"
          alt=""
        />
      </li>
      <li class="detail-variant-item">
        <img
          src="https://1557691689.e.cdneverest.net/fast/69x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/ANmfIW013xln8ECUAxU5kWgaxLnaNHVJ.webp"
          alt=""
        />
      </li>
      <li class="detail-variant-item">
        <img
          src="https://1557691689.e.cdneverest.net/fast/69x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/ANmfIW013xln8ECUAxU5kWgaxLnaNHVJ.webp"
          alt=""
        />
      </li>
    </ul>
  </div>
  <div class="variant-block variant-size">
    <div class="variant-label">
      <div class="title">Kích thước:</div>
      <div class="guide open-guide">Hướng dẫn chọn size</div>
    </div>
    <ul class="variant-list">
      <li class="detail-variant-item">S</li>
      <li class="detail-variant-item current">M</li>
      <li class="detail-variant-item">L</li>
      <li class="detail-variant-item">XL</li>
      <li class="detail-variant-item">2XL</li>
      <li class="detail-variant-item">3XL</li>
    </ul>
    <!-- <div class="popup-guide">
      <div class="guide-block hide-scrollbar">
        <div class="guide-close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="36"
            viewBox="0 0 35 36"
            fill="none"
          >
            <path
              d="M26.25 9L8.75 27"
              stroke="#696B73"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M8.75 9L26.25 27"
              stroke="#696B73"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
        <div class="guide-content">
          <img
            src="https://5sfashion.vn/storage/category/8d878VBDgkCnkAARWhLwJIHNZAACZ486.jpg"
            alt=""
          />
          <div class="desc-guide">
            *95% khách hàng của chúng tôi đã chọn đúng size theo hướng dẫn này
          </div>
          <div class="contact-guide">
            <div class="title">
              Để nhận được những tư vấn chính xác nhất về sản phẩm, <br />
              hãy để lại SĐT, đội ngũ tư vấn của 5S Fashion sẽ hỗ trợ bạn.
            </div>
            <form id="form-register-sale-product">
              <div class="form-guide">
                <input type="hidden" name="" value="" />
                <input type="text" name="phone" placeholder="Nhập SĐT của bạn" />
                <button type="submit" class="button-submit">Nhận tư vấn</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
