<div class="product-desc">
  <h2 class="title">Mô tả sản phẩm</h2>
  <div class="content-desc">
    <div class="first-desc">
      <img
        alt=""
        src="https://5sfashion.vn/storage/product/dJGB0v4tYg7PhDBJbvTB6QB5a00YviID.webp"
      />
    </div>
    <div class="second-desc" [class.active]="isActive">
      <p style="text-align: center">
        <a href=""
          ><strong
            >ÁO POLO NAM AIR-COOL CAN PHỐI APC26035 – THOÁNG MÁT TỨC THÌ, LINH HOẠT MỖI CHUYỂN
            ĐỘNG</strong
          ></a
        >
      </p>

      <p style="text-align: justify">
        <strong>Áo polo nam</strong> AIR-COOL của 5S Fashion là mẫu áo ứng dụng công nghệ AIR-COOL
        Poly Tech, mang lại cảm giác nhẹ mát suốt ngày dài. M0APC26035 được thiết kế dành cho người
        đàn ông hiện đại: yêu sự thoải mái nhưng vẫn đề cao vẻ ngoài chỉn chu, nam tính và khỏe
        khoắn. Từ văn phòng đến sân tập nhẹ, từ cà phê cuối tuần đến những chuyến đi ngắn ngày – tất
        cả chỉ cần một chiếc polo đủ “cool”.
      </p>

      <p><strong>THIẾT KẾ:</strong></p>

      <ul>
        <li>
          <p>Dáng polo thể thao với cổ bẻ lịch sự, phù hợp cả đi làm và vận động nhẹ.</p>
        </li>
        <li>
          <p>Điểm nhấn line cắt phối hai bên sườn tạo hiệu ứng thân hình gọn gàng, nam tính.</p>
        </li>
        <li>
          <p>Tay raglan linh hoạt, hỗ trợ chuyển động thoải mái hơn.</p>
        </li>
        <li>
          <p>Form slimfit đứng vừa vặn, tôn dáng nhưng không ôm sát vẫn thoải mái vận động</p>
        </li>
      </ul>

      <p>
        <strong>CHẤT LIỆU</strong>:&nbsp;<strong
          >AIR-COOL Poly Tech (Polyester cấu trúc rãnh)</strong
        >
      </p>

      <ul>
        <li>
          <p><strong>Thoát ẩm nhanh</strong> – đẩy mồ hôi ra ngoài, giữ bề mặt áo khô ráo.</p>
        </li>
        <li>
          <p><strong>Khô nhanh vượt trội</strong> – hạn chế cảm giác ẩm dính khi vận động.</p>
        </li>
        <li>
          <p><strong>Co giãn 4 chiều</strong> – linh hoạt trong mọi chuyển động.</p>
        </li>
        <li>
          <p><strong>Nhẹ và êm</strong> – mặc dễ chịu cả ngày dài.</p>
        </li>
        <li>
          <p><strong>Hạn chế nhăn</strong> – giữ form tốt, ít cần chăm sóc cầu kỳ.</p>
        </li>
      </ul>

      <p><strong>MÀU SẮC:</strong>&nbsp;Trắng – Đen – Tím than – Xanh đá – Chì</p>

      <p><strong>SIZE: </strong>S-3XL</p>

      <p><strong>Cách sử dụng</strong>:</p>

      <p style="margin-left: 40px">
        - Nên giặt tay/giặt máy với nhiệt độ không quá 30 độ ở chu kì trung bình và vòng quay ngắn
      </p>

      <p style="margin-left: 40px">- Sử dụng bột giặt/nước giặt trung tính</p>

      <p style="margin-left: 40px">
        - Phơi sản phẩm ở nơi khô ráo thoáng mát và tránh ánh nắng trực tiếp
      </p>

      <p><strong>Cách bảo quản:</strong></p>

      <p style="margin-left: 40px">- Nên lộn trái khi phơi</p>

      <p style="margin-left: 40px">- Bảo quản nơi khô ráo, tránh những nơi ẩm thấp</p>

      <p style="margin-left: 40px">- Là (ủi) ở nhiệt độ trung bình</p>

      <p>
        <strong>Sắm ngay tại</strong>&nbsp;<a href=""><strong>5S Fashion</strong></a
        >.
      </p>

      <p>&nbsp;</p>
    </div>
  </div>
  <div class="show-more-desc" [class.active]="isActive" (click)="handleIsActive()">
    {{ isActive ? 'Thu gọn' : 'Xem thêm' }}
  </div>
</div>
