.product-price-info {
  margin-bottom: 25px;
  .price {
    color: #231f20;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }
  .regular-price {
    color: #909195;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    margin-left: 5px;
    text-decoration: line-through;
  }
}
