.product-more {
  margin-top: 50px;
  .title-block {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 25px;
    text-align: center;
  }
  .product-list {
    .item-product {
      margin-bottom: 15px;
      .product-top {
        position: relative;
        overflow: hidden;
        //qikview
        .quick-view {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 75%;
          border-radius: 5px;
          z-index: 10;
          transform: translate(-50%, -50%) !important;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12px;
          opacity: 0;
          visibility: hidden;
          background: rgba(173, 0, 0, 0.8);

          transition:
            opacity 0.3s ease,
            visibility 0.3s ease,
            transform 0.3s ease;

          cursor: pointer;

          .title {
            display: block;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color: #fff;
            font-size: 14px;
            font-weight: 600;

            img {
              width: 18px;
              height: 18px;
            }
          }
        }
        &:hover {
          .product-image::before {
            opacity: 1;
          }
          .quick-view {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
        .product-image {
          position: relative;
          img {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
          &::before {
            content: '';
            display: block;
            height: 0;
            padding-top: 133.331%;
            width: 100%;
          }
        }
        .label {
          color: #fff;
          position: absolute;
          transition: all 0.2s ease-in-out;
          &.discount {
            background-color: #ad0000;
            border-radius: 50%;
            font-size: 16px;
            font-weight: 600;
            height: 45px;
            line-height: 45px;
            right: 10px;
            text-align: center;
            top: 10px;
            width: 45px;
          }
        }
      }
      .product-bottom {
        padding-top: 10px;
        position: relative;
        .variant-block {
          .variant-list {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            .variant-item {
              border-radius: 50%;
              cursor: pointer;
              &.current {
                img {
                  border-color: #ad0000;
                }
              }
              img {
                border: 1px solid transparent;
                border-radius: 50%;
                height: 24px;
                padding: 1px;
                width: 24px;
              }
            }
          }
        }
        .rating-label {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin-top: 8px;
          .rating {
            .score {
              font-size: 14px;
              font-weight: 500;
              position: relative;
              top: 1px;
            }
          }
        }
        .product-name {
          margin-top: 5px;
          h3 {
            color: #0f0f0f;
            display: block;
            display: -webkit-box;
            font-size: 14px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .price-product {
          align-items: center;
          display: flex;
          .current-price {
            color: #ad0000;
            font-size: 18px;
            font-weight: 700;
          }
          .regular-price {
            color: #909195;
            font-size: 14px;
            margin-left: 10px;
            text-decoration: line-through;
          }
        }
        .process-product {
          margin-top: 10px;
          .title {
            color: #444;
            font-size: 12px;
            b {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
