<div class="popup-quick-view">
  <div class="quick-view-block">
    <div class="button-close" (click)="onHandleClose()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="36"
        viewBox="0 0 35 36"
        fill="none"
      >
        <path
          d="M26.25 9L8.75 27"
          stroke="#696B73"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
        <path
          d="M8.75 9L26.25 27"
          stroke="#696B73"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </div>
    <div class="content-popup">
      <div class="row">
        <div class="col-12 col-md-5">
          <div class="product-images">
            <img
              src="https://1557691689.e.cdneverest.net/fast/868x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/e7mfPNOwNtDC86nHg8wrdwFhJHCBcyb4.webp"
              alt="Áo Sơ Mi Nam 5S Fashion Vải Hiệu Ứng Sang Trọng Phom Slimfit M0ASC26051"
            />
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="product-info">
            <div class="product-name">
              <span class="tag" style="display: block">Sale</span>Áo Sơ Mi Nam 5S Fashion Vải Hiệu
              Ứng Sang Trọng Phom Slimfit M0ASC26051
            </div>
            <div class="product-price-info">
              <div class="price">306.000đ</div>
              <div class="regular-price">510.000đ</div>
            </div>
            <div class="product-variant">
              <div class="variant-block variant-color">
                <div class="variant-label">
                  <div class="title">Ghi nhạt</div>
                </div>
                <ul class="variant-list">
                  <li
                    /* data-color="Nâu" */
                    /* data-img="https://1557691689.e.cdneverest.net/fast/747x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/43c4vlV6AV6APGE34ZDMqzhnW2FFcaTB.webp" */
                    class="detail-variant-item current"
                  >
                    <img
                      /* data-src="https://1557691689.e.cdneverest.net/fast/45x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/43c4vlV6AV6APGE34ZDMqzhnW2FFcaTB.webp" */
                      src="https://1557691689.e.cdneverest.net/fast/45x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/43c4vlV6AV6APGE34ZDMqzhnW2FFcaTB.webp"
                      alt="Nâu"
                    />
                  </li>
                  <li
                    /* data-color="Xanh tím than" */
                    /* data-img="https://1557691689.e.cdneverest.net/fast/747x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/mqeL3sikULjqFKKGQwOiWSUldjB9gkvT.webp" */
                    class="detail-variant-item"
                  >
                    <img
                      /* data-src="https://1557691689.e.cdneverest.net/fast/45x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/mqeL3sikULjqFKKGQwOiWSUldjB9gkvT.webp" */
                      src="https://1557691689.e.cdneverest.net/fast/45x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/mqeL3sikULjqFKKGQwOiWSUldjB9gkvT.webp"
                      alt="Xanh tím than"
                    />
                  </li>
                  <li
                    /* data-color="Trắng"
                    data-img="https://1557691689.e.cdneverest.net/fast/747x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/PEbhf6hg0A8KlJlhfPe4UPEhGkhoXHsw.webp" */
                    class="detail-variant-item"
                  >
                    <img
                      src="https://1557691689.e.cdneverest.net/fast/45x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/PEbhf6hg0A8KlJlhfPe4UPEhGkhoXHsw.webp"
                      alt="Trắng"
                    />
                  </li>
                  <li
                    /* data-color="Xanh xám" */
                    /* data-img="https://1557691689.e.cdneverest.net/fast/747x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/yybqdBZGPNNE5G2HlK2umeU4vwzsGNIm.webp" */
                    class="detail-variant-item"
                  >
                    <img
                      src="https://1557691689.e.cdneverest.net/fast/45x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/yybqdBZGPNNE5G2HlK2umeU4vwzsGNIm.webp"
                      alt="Xanh xám"
                    />
                  </li>
                  <li
                    /* data-color="Be nhạt" */
                    /* data-img="https://1557691689.e.cdneverest.net/fast/747x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/evPqDIBqlfn1aUdYL0b7no6r2T2RjlF5.webp" */
                    class="detail-variant-item"
                  >
                    <img
                      src="https://1557691689.e.cdneverest.net/fast/45x0/filters:format(webp)/static.5sfashion.vn/storage/product_color/evPqDIBqlfn1aUdYL0b7no6r2T2RjlF5.webp"
                      alt="Be nhạt"
                    />
                  </li>
                </ul>
              </div>
              <div class="variant-block variant-size">
                <div class="variant-label">
                  <div class="title">Kích thước Áo:</div>
                </div>
                <ul class="variant-list">
                  <li class="detail-variant-item current">110</li>
                  <li class="detail-variant-item">120</li>
                  <li class="detail-variant-item">130</li>
                  <li class="detail-variant-item">140</li>
                  <li class="detail-variant-item out_stock">150</li>
                </ul>
              </div>
            </div>
            <div class="product-action">
              <div class="product-qty">
                <div class="qty-wrapper">
                  <div class="button-minus" data-target=".product-add-to-cart">-</div>
                  <div class="value-qty" data-qty="1">1</div>
                  <div class="button-plus" data-target=".product-add-to-cart">+</div>
                </div>
              </div>
              <div
                class="product-add-to-cart in-stock buy-now-cart-popup-desktop"
                style="display: block"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.386 15.1257H5.12514C2.82537 15.1257 1.06107 14.295 1.56221 10.9518L2.14573 6.42089C2.45466 4.7527 3.51873 4.11426 4.45237 4.11426H12.0862C13.0336 4.11426 14.0359 4.80076 14.3929 6.42089L14.9764 10.9518C15.402 13.9175 13.6858 15.1257 11.386 15.1257Z"
                    stroke="white"
                    stroke-width="1.125"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M11.4865 3.94929C11.4865 2.15973 10.0357 0.709014 8.24619 0.709014V0.709014C7.38444 0.705362 6.55673 1.04513 5.94609 1.6532C5.33545 2.26127 4.99218 3.08753 4.99219 3.94929H4.99219"
                    stroke="white"
                    stroke-width="1.125"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M10.4737 7.32665H10.4394"
                    stroke="white"
                    stroke-width="1.125"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M6.09869 7.32665H6.06437"
                    stroke="white"
                    stroke-width="1.125"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                <span>Thêm vào giỏ hàng</span>
              </div>
              <div class="product-add-to-cart out_stock out-stock" style="display: none">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.386 15.1257H5.12514C2.82537 15.1257 1.06107 14.295 1.56221 10.9518L2.14573 6.42089C2.45466 4.7527 3.51873 4.11426 4.45237 4.11426H12.0862C13.0336 4.11426 14.0359 4.80076 14.3929 6.42089L14.9764 10.9518C15.402 13.9175 13.6858 15.1257 11.386 15.1257Z"
                    stroke="white"
                    stroke-width="1.125"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M11.4865 3.94929C11.4865 2.15973 10.0357 0.709014 8.24619 0.709014V0.709014C7.38444 0.705362 6.55673 1.04513 5.94609 1.6532C5.33545 2.26127 4.99218 3.08753 4.99219 3.94929H4.99219"
                    stroke="white"
                    stroke-width="1.125"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M10.4737 7.32665H10.4394"
                    stroke="white"
                    stroke-width="1.125"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M6.09869 7.32665H6.06437"
                    stroke="white"
                    stroke-width="1.125"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                <span>Hết hàng</span>
              </div>
              <div class="buy-now in-stock" data-toggle="buy-now-cart-popup-desktop">MUA NGAY</div>
            </div>
            <div class="view-detail">
              <div class="title-view-detail">Xem chi tiết sản phẩm &gt;&gt;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
