<!-- <h1 class="home-page">home page</h1>
<div *ngFor="let post of posts">
  <p>ID: {{ post.id }}</p>
  <p>{{ post.title }}</p>
  <p>{{ post.body }}</p>
</div> -->
<div class="homepage-body">
  <nz-carousel
    [nzEffect]="effect"
    nzAutoPlay="true"
    nzAutoPlaySpeed="5000"
    [nzLoop]="true"
    nzArrows
    ngClass="banner"
  >
    @for (url of array; track url) {
      <div nz-carousel-content>
        <img [src]="url" alt="" />
      </div>
    }
  </nz-carousel>
</div>
<service-block-component></service-block-component>
<voucher-block-component></voucher-block-component>

<app-product-tab
  [products]="bestSellerProducts"
  [discountProducts]="saleProducts"
></app-product-tab>
<banner-block-component [banner]="banner1"></banner-block-component>
<app-product-title [products]="bestSellerProducts"></app-product-title>
<banner-block-component [banner]="banner2"></banner-block-component>

<app-product-title [products]="springSummerProducts"></app-product-title>
<banner-block-component [banner]="banner3"></banner-block-component>

<app-product-title [products]="cuteSetProducts"></app-product-title>
<banner-block-component [banner]="banner4"></banner-block-component>

<app-product-title [products]="activeWearProducts"></app-product-title>
<banner-block-component [banner]="banner5"></banner-block-component>

<app-product-title [products]="officeWearProducts"></app-product-title>
<banner-col-block-component [banner]="banner"> </banner-col-block-component>
<news-block-component></news-block-component>
<customer-col-block-component></customer-col-block-component>
<location-block-component [banner]="banner6"></location-block-component>
