.homepage-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 113px;
}
.banner {
  height: 561px;
}

[nz-carousel-content] {
  img {
    height: 561px !important;
  }
}
