<div class="cart-body">
  <div class="container">
    <div class="cart-block">
      <div class="cart-grid cart-header">
        <div>Sản Phẩm</div>
        <div>Đơn Giá</div>
        <div>Số Lượng</div>
        <div>Thành Tiền</div>
        <div>Hành Động</div>
      </div>

      <div class="cart-grid cart-item">
        <div class="product-info">
          <img src="../../../assets/images/product/variant/variant-trang.webp" alt="" />
          <div class="title-product">
            Áo Polo Nam AIR-COOL 5S Fashion Phong Cách Thể Thao Khỏe Khoắn M0APC26035
          </div>
        </div>

        <div class="price">88.888đ</div>
        <div class="quantity">
          <div class="qty-product">
            <div class="qty-wrapper">
              <div class="button-minus">-</div>
              <div class="value-qty">1</div>
              <div class="button-plus">+</div>
            </div>
          </div>
        </div>
        <div class="total">266.664đ</div>
        <div class="action">
          <div class="action-image">
            <img src="../../../assets/images/recycle-bin.png" alt="" />
          </div>
        </div>
      </div>
      <div class="cart-grid cart-item">
        <div class="product-info">
          <img src="../../../assets/images/product/variant/variant-trang.webp" alt="" />
          <div class="title-product">
            Áo Polo Nam AIR-COOL 5S Fashion Phong Cách Thể Thao Khỏe Khoắn M0APC26035
          </div>
        </div>

        <div class="price">88.888đ</div>
        <div class="quantity">
          <div class="qty-product">
            <div class="qty-wrapper">
              <div class="button-minus">-</div>
              <div class="value-qty">1</div>
              <div class="button-plus">+</div>
            </div>
          </div>
        </div>
        <div class="total">266.664đ</div>
        <div class="action">
          <div class="action-image">
            <img src="../../../assets/images/recycle-bin.png" alt="" />
          </div>
        </div>
      </div>
      <div class="cart-grid cart-item">
        <div class="product-info">
          <img src="../../../assets/images/product/variant/variant-trang.webp" alt="" />
          <div class="title-product">
            Áo Polo Nam AIR-COOL 5S Fashion Phong Cách Thể Thao Khỏe Khoắn M0APC26035
          </div>
        </div>

        <div class="price">88.888đ</div>
        <div class="quantity">
          <div class="qty-product">
            <div class="qty-wrapper">
              <div class="button-minus">-</div>
              <div class="value-qty">1</div>
              <div class="button-plus">+</div>
            </div>
          </div>
        </div>
        <div class="total">266.664đ</div>
        <div class="action">
          <div class="action-image">
            <img src="../../../assets/images/recycle-bin.png" alt="" />
          </div>
        </div>
      </div>
      <div class="cart-empty">
        <div class="image-empty">
          <img
            src="../../../assets/images/empty-cart.png"
            alt=""
            style="width: 6.75rem; height: 6.125rem"
          />
        </div>
        <div class="wrapper-empty">
          <div class="title">Giỏ hàng của bạn trống</div>
          <div class="back-to-home" routerLink="/home">
            <div class="text">Mua ngay</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
