<div class="service-block">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <div>
          <div class="item-service">
            <img
              src="../../../assets/images/service/service-img-1.webp"
              alt=""
              class="image-service"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div>
          <div class="item-service">
            <img
              src="../../../assets/images/service/service-img-2.webp"
              alt=""
              class="image-service"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div>
          <div class="item-service">
            <img
              src="../../../assets/images/service/service-img-3.webp"
              alt=""
              class="image-service"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div>
          <div class="item-service">
            <img
              src="../../../assets/images/service/service-img-4.webp"
              alt=""
              class="image-service"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
