/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}

// src/styles.scss
// .search-modal {
//   .ant-modal-content {
//     background-color: transparent !important;
//     border-radius: 0 !important;
//     box-shadow: none !important;
//   }
// }
