$color: inherit;
$color-hd: #bf272d;
$color-text-hd: #fff;
$color-tablet: #0f0f0f;
$color-wrap: #ffeeed;
$current-price: #ad0000;
$regular-price: #909195;
$color-text-product: #0f0f0f;
$color-tilte: #444444;
