<div class="customer-col-block">
  <div class="container">
    <div class="banner-content">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="custom-banner">
            <img src="../../../assets/images/customer/customer_1.png" alt="" />
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="custom-content">
            <p class="custom-title">Cảm nhận của khách hàng về 5s fashion</p>
            <p class="custom-desc">
              Trong 5 năm nghiên cứu và phát triển, với sứ mệnh đem lại cho khách hàng những dịch vụ
              5 sao, sản phẩm 5 sao, 5S Fashion đã để lại trong lòng khách hàng nhiều ấn tượng và
              tình cảm.
            </p>
            <p>
              Với mong muốn đồng hành cùng phái mạnh trên mọi con đường, 5S Fashion là người bạn tốt
              nhất giúp phái mạnh tự tin, bản lĩnh trong công việc cũng như trách nhiệm, mẫu mực
              trong gia đình.
            </p>
            <div class="custom-btn">Tìm hiểu thêm</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
