.banner-block {
  background: #fafafa;
  a {
    text-decoration: none;
  }
  .wrapper {
    border-top: 1px solid #c8c8c8;
    padding-top: 45px;
    .image-banner {
      position: relative;
      &::before {
        content: '';
        display: block;
        height: 0;
        padding-top: 31.6%;
        width: 100%;
      }
      img {
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: top;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
